<h2>List Tasks</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">remove</th>
    </tr>
  </thead>
  <tbody>
      {{#each tasks}}
    <tr>
      <th scope="row"></th>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>{{status}}</td>    
      <td><i class="fas fa-edit"></i></td>
      <td><i class="fas fa-trash-alt"></i></td>     
    </tr>
    {{/each}} 
    </tbody>
</table>