<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/pexels-breakingpic-3243.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/pexels-tara-winstead-8386748.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/pexels-polina-kovaleva-5546888.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<a href="/login" class="btn btn-primary mt-2 col-md-4 offset-md-8" role="button">Create Task</a>

<a href="/register" class="btn btn-primary mt-2 col-md-4 offset-md-8" role="button">Create Task</a>