


<a href="/login" class="btn btn-primary mt-2 col-md-4 offset-md-8" role="button">Create Task</a>

<a href="/register" class="btn btn-primary mt-2 col-md-4 offset-md-8" role="button">Create Task</a>