<h2 class="text-center my-4">Login</h2>

<form method="POST" action="/login">

  <div class="mb-3">  
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name='email'>
    <div class="form-text"></div>
  </div>
  
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name='password'>
  </div>

  <div class="mb-3">
    <p>Does not an account?
    <a href="/register">Click here</a> 
    </p>         
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
